{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('auth.static', filename='form.js') }}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('auth.static', filename='form.css') }}">
{% endblock %}

{% block content %}

<div class="container" style="width:50%;">
    <h2 class="text-center">sign up!</h2>
    <form method="POST" action="/signup" id="registerForm">
        {{ form.hidden_tag() }}
        <div class="tab">
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
        </div>
        <div class="tab">
            {{ wtf.form_field(form.programmer) }}
            {{ wtf.form_field(form.designer) }}
            {{ wtf.form_field(form.entrepreneur) }}
        </div>
        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
</div>
{% endblock %}