{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container" style="width: 50%">
    <h3>{{ user.username}}</h3>
    <p>is a {{ is_a }}</p>
    <div class="row">
        <p>
            Posts:
            {% for post in posts %}
            <!--Draw post-->
            <div class="row">
                {% if post.kind == 'i' %}
                <i>idea</i>
                {% elif post.kind == 'qa' %}
                <i>q/a</i>
                {% elif post.kind == 'u' %}
                <i>update</i>
                {% endif %}
            </div>
            <div class="row">
                <a href="/post/{{ post.id }}">
                    <h3 style="display: inline">{{ post.title }}</h3>
                </a> by <a href="/user/{{post.author}}">{{ post.author }} </a>
            </div>
            <div class="row">
                <p>{{ post.descrip }}</p>
            </div>
            <br>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}