{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<h1 class="text-center">Home Page!!!!!</h1>
<ul>
{% for post in posts %}
<!-- <li> -->
    <!--Draw post-->
    <div class="container" style="width:70%">
        <div class="row">
            <a href="/post/{{ post.id }}"><h3 style="display: inline">{{ post.title }}</h3></a> by <a href="/user/{{post.author}}">{{ post.author }} </a>
        </div>
        <div class="row">
            <p>{{ post.descrip }}</p>
        </div>
        <br>
    </div>
<!-- </li> -->
{% endfor %}
</ul>
{% endblock %}