{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<h1 class="text-center">Home Page!!!!!</h1>
<ul>
{% for post in posts %}
<!-- <li> -->
    <!--Draw post-->
    <div class="container">
        <div class="row" style="display: inline">
            <a href="/post/{{ post.id }}"><h3>{{ post.title }}</h3></a> by <a href="/user/{{post.author}}">{{ post.author }} </a>
        </div>
        <p>{{ post.descrip }}</p>
    </div>
<!-- </li> -->
{% endfor %}
</ul>
{% endblock %}