{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('home.static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="text-center">Home Page!!!!!</h1>
<p>Filter type of post:
<form id="typefilterform" onchange="filterType();">
    <select form="typefilterform" id="type">
        <option value="">No filter</option>
        <option value="i">Ideas</option>
        <option value="qa">Q/A</option>
        <option value="u">Update</option>
    </select>
</form>
</p>
<p>Current filter: </p>

<ul>
    {% for post in posts %}
    <!-- <li> -->
    <!--Draw post-->
    <div class="container" style="width:70%">
        <div class="row" id="postType_{{ loop.index0 }}">
            {% if post.kind == 'i' %}
            <i>idea</i>
            {% elif post.kind == 'qa' %}
            <i>q/a</i>
            {% elif post.kind == 'u' %}
            <i>update</i>
            {% endif %}
        </div>
        <div class="row">
            <a href="/post/{{ post.id }}">
                <h3 style="display: inline;" id="postTitle_{{ loop.index0 }}">{{ post.title }}</h3>
            </a> by <p style="display: inline;" id="postAuthor_{{ loop.index0 }}"><a
                    href="/user/{{post.author.username}}">{{ post.author.username }}
                </a></p>
        </div>
        <div class="row" id="postDescrip_{{ loop.index0 }}">
            <p>{{ post.descrip }}</p>
        </div>
        <br>
    </div>
    <!-- </li> -->
    {% endfor %}
</ul>
{% endblock %}